<div class="container text-center">
  <h1 class="text-danger">404 - Sayfa Bulunamadı</h1>
  <p class="lead">
    Malesef yanlış url yazdınız bizim <%= url %> şeklindeki adrese ait bir
    sayamız yok.
  </p>
  <a href="/" class="btn btn-primary form-control">Ana Sayfaya Dön</a>
</div>
